<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list card" ng-repeat="product in home.products">
      <h2 class="text-center">{{product.productName}}</h2>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-edit"></i>
        {{product.productDesc}}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-pricetags"></i>
        {{product.productCat}}
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        {{product.productStat}}
      </a>
      <button class="item item-icon-left assertive" ng-click="home.like(product.$id)" >
        <i class="icon ion-android-star"></i>
        Like
      </button>
    </div>
  </ion-content>
</ion-view>
