<ion-view view-title="Favourites">
  <ion-content>
    <ion-list can-swipe="true">
      <ion-item class="item" ng-repeat="item in matc.likesList" ng-click="matc.openMessageModal(item.creatorId)">
        <h2>
            <span class="presence" ng-class="{online: item.isOnline }"></span>
            {{item.productName}}
        </h2>
        <p>{{item.creatorId}}</p>

        <ion-option-button class="button-assertive" ng-click="matc.unmatch(item.$id)">Unmatch</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
