<ion-view view-title="Profile">
  <ion-content>
    <div ng-show="true">
      <span ng-repeat="image in prof.currentUser.images | limitTo:4">
        <img ng-src="{{image.source}}" width="150px" height="150px">
      </span>
      <div class="card">
        <div class="item item-avatar">
          <img ng-src="{{prof.currentUser.avatar}}">
          <h2>{{prof.currentUser.name}}</h2>
        </div>
        <div class="item item-divider">
          <span>
            <h2 class="pull-left">Products</h2>
          </span>
          <span class="pull-right">
            <button class="button button-small button-assertive" ng-click="prof.openCreateProdModal();">Add</button>
          </span>
          <ion-item class="item-text-wrap" ng-repeat="product in prof.products" ng-click="prof.showProductDetails(product.$id)">{{product.productName}}</ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
